.section {
  overflow: hidden;
  box-sizing: inherit;
}

.section-container {
  position: relative;
  cursor: pointer;
}

.img-container {
  padding-bottom: 41.65%;
  opacity: 0.5;
  width: 100%;
  height: 0;
  position: relative;
  transition: opacity 1s;
  cursor: pointer;
}

.img-container > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* kllkjklj */
.content-p p {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #ea5600;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 17px;
}
.content-p h1 {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 35px;
  line-height: 46px;
  color: #fff;
}

.content-p h1:hover {
  color: lightgray;
}

.play-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}

.btn {
  width: 45px;
  height: 45px;

  background: transparent;
  position: relative;
  padding: 0;
  border: 1px solid #ea5600;
  border-radius: 40px;
  top: calc(50% - 20px);
  z-index: 4;
  transform-origin: center;
  transition: all 0.3s;

  text-transform: none;
}

.btn::before {
  left: 18px;
  top: 14px;

  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #fff;
}

.btn::after {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.4s, opacity 0.5s;
  background: transparent;
  transform-origin: center;
}
