.sectione-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px;
  width: calc(90% + 20px);
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.sectione-container-text {
  order: 1;
  padding: 10px;
  width: 33.33%;
}

.sectione-container-text > h3 {
  height: 46px;
  color: #fff;
  font-size: 35px;
  font-family: adobe-garamond-pro, serif;
}

.sectione-container-text hr {
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.sectione-container-text > p {
  color: #fff;
  font-size: 23px;
  line-height: 32px;
}

.sectione-container-img {
  order: 2;
  width: 66.6%;
  margin-bottom: 20px;
  padding: 10px;

  position: relative;
}

.sectione-container-img a {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

.sectione-img {
  padding-bottom: 41.65%;
  opacity: 0.5;
  width: 100%;
  height: 0;
  position: relative;
  transition: opacity 1s;
}

.sectione-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: none;
}

.sectione-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 110px);
  cursor: pointer;
}

.sectione-text p {
  color: #ea5600;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 17px;
}

.sectione-text h1 {
  font-size: 35px;
  line-height: 46px;
  color: #fff;
}

.sectione-sign {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.sectione-btn {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 45px;

  position: relative;
  padding: 0;
  border: 1px solid #ea5600;
  border-radius: 40px;
  top: calc(50% - 20px);
  z-index: 4;
  transform-origin: center;
  transition: all 0.3s;
}

.sectione-btn::before {
  background-size: 17px;
  height: 18px;
  left: 21px;
  top: 13px;
  width: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMS4zOSAzMS4wNSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNmZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjNweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPnhJY29uPC90aXRsZT48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSI0LjM5IiB5MT0iMjcuMzYiIHgyPSIyNy4zOSIgeTI9IjQuMzYiLz48bGluZSBjbGFzcz0iY2xzLTEiIHgxPSI0LjM5IiB5MT0iNC4zNiIgeDI9IjI3LjM5IiB5Mj0iMjcuMzYiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: 50%;
  transform: rotate(45deg);

  border: 3px solid red;
}

@media only screen and (min-width: 980px) {
  .sectione-btn span {
    left: auto;
    right: 58px;
  }
}

@media only screen and (min-width: 768px) {
  .sectione-btn span {
    top: 15px;
  }
}

.sectione-btn span {
  position: absolute;
  left: auto;
  right: 58px;
  top: 15px;
}

.sectione-btn::after {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.4s, opacity 0.5s;
  background: transparent;
  transform-origin: center;
}
