.header {
  min-height: 530px;
  margin-bottom: 0;
}
.header-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 0;
}
.header-container-image {
  opacity: 0.7;
  transform: scale(1.15);
  background-image: url("https://cms.outrider.org/sites/default/files/styles/hero_lg/public/2018-01/04_ARC_CL_BQ_USAF_140922-F-QP609-123_cruise.jpg?itok=GdLZyd1e");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: all 4s cubic-bezier(0.5, 0, 0.5, 1);
  transform-origin: center;

  background-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 100),
      rgba(0, 0, 0, 0)
    ),
    url("https://cms.outrider.org/sites/default/files/styles/hero_lg/public/2018-01/04_ARC_CL_BQ_USAF_140922-F-QP609-123_cruise.jpg?itok=GdLZyd1e");
}

.header-container-text {
  max-width: 560px;
  position: absolute;
  top: 40%;
  left: 5%;

  font-family: adobe-garamond-pro, serif;
  font-weight: normal;
  font-style: normal;
}

.header-container-circle {
  position: absolute;
  top: 93%;
  left: 1%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container-circle p {
  font-size: 1rem;
  color: #fff;
  padding-right: 20px;

  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
}

.header-container-circle i {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  margin: 0;
  font-size: 15px;
}

.header:hover .header-container-circle i {
  background-color: transparent;
  color: transparent;
  border: 1px solid #fff;
  padding: 15px;
  margin: 0;
  font-size: 15px;
  cursor: pointer;
  transform-origin: center;
  transition: all 0.3s;
}

.header-container-text > h3 {
  margin-bottom: 10px;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}
.header-container-text > h1 {
  color: #fff;
  font-size: 4em;
  margin: 0 0 15px;
}
.header-container-text > p {
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header-container-text h1::selection,
p::selection {
  color: #fff;
  background: rgba(234, 86, 0, 0.99);
}
.fa-play {
  background-color: white;
}
@media only screen and (max-width: 540px) {
  .header-container-text h1 {
    font-weight: normal;
    line-height: 1.086;
    font-size: 2.75em;
  }
}
