.section-container-text {
  /* width: calc(90% + 20px); */
  width: 100%;
  /* margin-bottom: 70px; */
  margin-left: auto;
  margin-right: auto;

  order: initial;
  padding: 10px;
  /* width: 33.33%; */
}

.section-container-text > h3 {
  height: 46px;
  color: #fff;
  font-size: 35px;
  font-family: adobe-garamond-pro, serif;
}

.section-container-text hr {
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.section-container-text > p {
  color: #fff;
  font-size: 23px;
  line-height: 32px;
}
