.section-container-text {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  order: initial;
  padding: 10px;
}

.section-container-text p::selection,
h3::selection {
  color: #fff;
  background: rgba(234, 86, 0, 0.99);
}

.section-container-text > h3 {
  height: 46px;
  color: #fff;
  font-size: 35px;
  font-family: adobe-garamond-pro, serif;
  font-weight: normal;
  font-style: normal;
}

.section-container-text hr {
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.section-container-text > p {
  color: #fff;
  font-size: 23px;
  line-height: 32px;
}

@media only screen and (max-width: 1200px) {
  .section-container-text {
    width: 100%;
    margin: 0 auto;
    grid-column: span 3;
  }
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-full {
  grid-column: span 3;
}

.order-1 {
  order: 1;
}

.padding-80 {
  padding: 80px;
}

@media only screen and (max-width: 540px) {
  .span-1 {
    grid-column: span 3;
  }
  .span-2 {
    grid-column: span 3;
  }
  .section-container-text p {
    font-size: 18px;
  }
  .padding-80 {
    padding: 0;
  }
}
